include utils/mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title #{title}
    link(rel="icon" href=require('Images/favicon.ico'))
    link(rel="icon" type="image/png" href=require('Images/favicon.png'))
    link(href=require('../styles/styles.scss') rel='stylesheet')
  body
    include includes/header
    block content
    include includes/footer
    block modal
    script(src=require(linkScripts))
