extends base

block variables
  - var title = 'Catalog'
  - var linkScripts = '../catalog.js'

block content
  main
    h1(style="font-size: 24px;") Каталог
    a(href="index.html") На главную
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptatem rem molestias totam sequi quae harum, corporis perspiciatis. Nobis consectetur consequuntur eveniet quis explicabo voluptas perferendis nesciunt asperiores commodi, nulla!
    img(src=require('../images/Latte.jpg') width="200")

//- doctype html
//- html
//-   head
//-     meta(charset="UTF-8")
//-     title Каталог
//-     link(rel="icon" href=require('Images/favicon.ico'))
//-     link(href=require('../styles/catalog.scss') rel='stylesheet')
//-   body(style="color: #000000;")
//-     include includes/header
//-     main
//-       h1(style="font-size: 24px;") Каталог
//-       a(href="index.html") На главную
//-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptatem rem molestias totam sequi quae harum, corporis perspiciatis. Nobis consectetur consequuntur eveniet quis explicabo voluptas perferendis nesciunt asperiores commodi, nulla!
//-       img(src=require('../images/Latte.jpg') width="200")
//-     include includes/footer
//-     script(src=require('../catalog.js'))
