extends base

block variables
  - var title = 'Главная страница'
  - var linkScripts = '../index.js'
  - var namePage = 'Home'

block content
  main.main
    h1.visually-hidden Интернет-магазин Device

    section.main__slider.slider
      h2.visually-hidden Слайдер
      div.slider__item.slider__item--active
        div.slider__left
          img(src=require('../images/slider-1.png') width="560" height="560" alt="Слайд Квадрокоптер.")
        div.slider__right
          span 01
          p Порхает как бабочка, жалит как пчела!
          p Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.
          a(href="#") Подробнее
          table
            tr
              td 800 м
              td 50 м
            tr
              th Дальность полета
              th Радиус поражения
      div.slider__item
        div.slider__left
          img(src=require('../images/slider-2.png') width="560" height="560" alt="Слайд Фитнес-браслет.")
        div.slider__right
          span 02
          p Худеем правильно!
          p Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
          a(href="#") Подробнее
          table
            tr
              td 48 часов
            tr
              th Без подзарядки
      div.slider__item
        div.slider__left
          img(src=require('../images/slider-3.png') width="560" height="560" alt="Слайд Палка для селфи.")
        div.slider__right
          span 03
          p Делай селфи, как Бен Стиллер!
          p Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 кг.
          a(href="#") Подробнее
          table
            tr
              td 8,5 м
              td 5 кг
              td Карбон
            tr
              th Длина палки
              th Вес палки
              th Материал
      div.slider__arrows
        button.slider__arrow.slider__arrow-prev(type="button")
          span.visually-hidden Назад
        button.slider__arrow.slider__arrow-next(type="button")
          span.visually-hidden Вперед
      div.slider__dots
        button.slider__dot.slider__dot--active.num_0(type="button")
          span.visually-hidden Слайд 1
        button.slider__dot.num_1(type="button")
          span.visually-hidden Слайд 2
        button.slider__dot.num_2(type="button")
          span.visually-hidden Слайд 3

    section.main__categories.categories
      h2.visually-hidden Категории товаров
      ul.categories__list
        li.categories__item
          a.categories__link(href="#")
            img(src=require('../images/category-1.png') width="97" height="55" alt="Карточка категории Виртуальная реальность")
            h3 Виртуальная реальность
        li.categories__item
          a.categories__link(href="pages/catalog.html")
            img(src=require('../images/category-2.png') width="87" height="117" alt="Карточка категории Моноподы для селфи")
            h3 Моноподы для селфи
        li.categories__item
          a.categories__link(href="#")
            img(src=require('../images/category-3.png') width="72" height="87" alt="Карточка категории Экшн-камеры")
            h3 Экшн-камеры
        li.categories__item
          a.categories__link(href="#")
            img(src=require('../images/category-4.png') width="108" height="66" alt="Карточка категории Фитнес-браслеты")
            h3 Фитнес-браслеты
        li.categories__item
          a.categories__link(href="#")
            img(src=require('../images/category-5.png') width="57" height="98" alt="Карточка категории Умные часы")
            h3 Умные часы
        li.categories__item
          a.categories__link(href="#")
            img(src=require('../images/category-6.png') width="133" height="70" alt="Карточка категории Квадрокоптеры")
            h3 Квадрокоптеры

    section.main__services.services
      h2.visually-hidden Сервисы
      div.services__tabs.tabs
        div.tabs__panel
          button.tabs__switch.tabs__switch--active(type="button" data-tab="tabs__item--delivery") Доставка
          button.tabs__switch(type="button" data-tab="tabs__item--warranty") Гарантия
          button.tabs__switch(type="button" data-tab="tabs__item--credit") Кредит
        div.tabs__wrapper
          div.tabs__item.tabs__item--delivery.tabs__item--active
            h3 Доставка
            p Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы неплохо заработаем, поднимая его на ваш этаж.
          div.tabs__item.tabs__item--warranty
            h3 Гарантия
            p Если из-за возгорания купленного у нас товара у вас сгорит дом — не переживайте, мы выдадим вам новый. Товар, не дом, конечно же.
          div.tabs__item.tabs__item--credit
            h3 Кредит
            p Залезть в долговую яму стало проще! Кредитные консультанты подберут для вас наиболее выгодные условия кредита. Выгодные для банка, разумеется.

    section.main__delivery-order.delivery-order
      h2.visually-hidden Доставка редких товаров
      a.delivery-order__link(href="#") Доставим редкий товар под заказ

    div.main__info.info
      section.main__about-us.about-us
        h2 О нас
        p Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
        p Мы можем доставить ваш товар в самые отдалённые уголки России транспортными компаниями:
        ul.about-us__list
          li Меловые линии
          li СДИК
          li ТоксБерри
        a.about-us__btn.button(href="#") Подробнее о нас
      section.main__contacts.contacts
        h2 Контакты
        p Вы можете забрать товар сами, заехав в наш офис. Заодно сможете проверить работоспособность покупки.
        span Интернет-магазин «Девайс»
        address Санкт-Петербург, набережная реки Карповки, 5, литера П.
        span +7 (812) 812-12-12
        span Время работы
        span пн—пт: с 10:00 до 22:00 сб—вс: с 10:00 до 19:00
        a.contacts__btn.button(href="#") Напишите нам

    section.main__subscribe.subscribe
      h2.subscribe__title Подпишитесь на рассылку
      p.subscribe__description Еженедельный дайджест с обзорами новинок, длительными тест-драйвами, распаковками, а также акции, спецпредложения и вот это вот всё.
      form.subscribe__form(action="https://echo.htmlacademy.ru/" method="post")
        label.subscribe__field.field
          span.visually-hidden Ваш e-mail
          input.field__input(type="email" name="email" placeholder="Ваш e-mail")
        button.subscribe__btn.button(type="submit") Подписаться
        span.subscribe__message Это бесплатно

block modal
  include includes/popup-cart
  include includes/modal-delivery
