extends base

block variables
  - var title = 'Главная страница'
  - var linkScripts = '../index.js'
  - var namePage = 'Home'

block content
  main.main.main-container

    section.main__slider.slider.container
      h1.visually-hidden Интернет-магазин Device
      h2.visually-hidden Слайдер
      div.slider__item.slider__item--active
        div.slider__left
          img(src=require('../images/slider/slider-1.png') width="560" height="560" alt="Слайд Квадрокоптер.")
        div.slider__right
          p.slider__number 01
          p.slider__slogan.font-raleway Порхает как бабочка, жалит как пчела!
          p.slider__desc Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.
          div.slider__button-wrapper
            a.button.font-raleway(href="#") Подробнее
            span.button-background
          table.slider__features.slider__features--table-first-slide
            tr
              td 800 м
              td 50 м
            tr
              th Дальность полета
              th Радиус поражения
      //- div.slider__item
      //-   div.slider__left
      //-     img(src=require('../images/slider/slider-2.png') width="560" height="560" alt="Слайд Фитнес-браслет.")
      //-   div.slider__right
      //-     p.slider__number 02
      //-     p.slider__slogan.font-raleway Худеем <br> правильно!
      //-     p.slider__desc Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
      //-     div.slider__button-wrapper
      //-       a.button.font-raleway(href="#") Подробнее
      //-     table.slider__features.slider__features--table-second-slide
      //-       tr
      //-         td 48 часов
      //-       tr
      //-         th Без подзарядки
      //- div.slider__item
      //-   div.slider__left
      //-     img(src=require('../images/slider/slider-3.png') width="560" height="560" alt="Слайд Палка для селфи.")
      //-   div.slider__right
      //-     p.slider__number 03
      //-     p.slider__slogan.font-raleway Делай селфи, <br> как Бен Стиллер!
      //-     p.slider__desc Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 кг.
      //-     div.slider__button-wrapper
      //-       a.button.font-raleway(href="#") Подробнее
      //-     table.slider__features.slider__features--table-third-slide
      //-       tr
      //-         td 8,5 м
      //-         td 5 кг
      //-         td Карбон
      //-       tr
      //-         th Длина палки
      //-         th Вес палки
      //-         th Материал
      div.slider__arrows
        button.slider__arrow.slider__arrow--prev(type="button")
          span.visually-hidden Назад
        button.slider__arrow.slider__arrow--next(type="button")
          span.visually-hidden Вперед
      ol.slider__dots.slider-dots
        li.slider-dots__item
          button.slider-dots__btn.slider-dots__btn--active(type="button")
            span.visually-hidden Слайд 1
        li.slider-dots__item
          button.slider-dots__btn(type="button")
            span.visually-hidden Слайд 2
        li.slider-dots__item
          button.slider-dots__btn(type="button")
            span.visually-hidden Слайд 3

    section.main__categories.categories.container
      h2.visually-hidden Категории товаров
      ul.categories__list
        li.categories__item
          a.categories__link.categories__link--vr-mb(href="#")
            img(src=require('../images/categories/category-1.svg') width="97" height="55" alt="Карточка категории Виртуальная реальность")
          h3.categories__title.font-raleway Виртуальная реальность
        li.categories__item
          a.categories__link.categories__link--mono-selfy(href="pages/catalog.html")
            img(src=require('../images/categories/category-2.svg') width="87" height="117" alt="Карточка категории Моноподы для селфи")
          h3.categories__title.font-raleway Моноподы <br> для селфи
        li.categories__item
          a.categories__link.categories__link--action-cam(href="#")
            img(src=require('../images/categories/category-3.svg') width="72" height="87" alt="Карточка категории Экшн-камеры")
          h3.categories__title.font-raleway Экшн-камеры
        li.categories__item
          a.categories__link.categories__link--fitness-bracelet(href="#")
            img(src=require('../images/categories/category-4.svg') width="108" height="66" alt="Карточка категории Фитнес-браслеты")
          h3.categories__title.font-raleway Фитнес-браслеты
        li.categories__item
          a.categories__link.categories__link--smart-watch(href="#")
            img(src=require('../images/categories/category-5.svg') width="57" height="98" alt="Карточка категории Умные часы")
          h3.categories__title.font-raleway Умные часы
        li.categories__item
          a.categories__link.categories__link--quadrocopter(href="#")
            img(src=require('../images/categories/category-6.svg') width="133" height="70" alt="Карточка категории Квадрокоптеры")
          h3.categories__title.font-raleway Квадрокоптеры

    section.main__services.services
      div.container
        h2.visually-hidden Сервисы
        div.services__tabs.tabs
          div.tabs__panel
            div.tabs__switch-wrapper.tabs__switch--active
              button.tabs__switch.button.font-raleway(type="button" data-tab="tabs__item--delivery") Доставка
              span.button-background
            div.tabs__switch-wrapper
              button.tabs__switch.button.font-raleway(type="button" data-tab="tabs__item--warranty") Гарантия
              span.button-background
            div.tabs__switch-wrapper
              button.tabs__switch.button.font-raleway(type="button" data-tab="tabs__item--credit") Кредит
              span.button-background
          div.tabs__wrapper
            div.tabs__item.tabs__item--delivery.tabs__item--active
              h3.font-raleway Доставка
              p Мы с удовольствием доставим ваш товар прямо <br> к вашему подъезду совершенно бесплатно! Ведь <br> мы неплохо заработаем, поднимая его на ваш этаж.
            //- div.tabs__item.tabs__item--warranty
            //-   h3.font-raleway Гарантия
            //-   p Если из-за возгорания купленного у нас товара у вас <br> сгорит дом — не переживайте, мы выдадим вам новый. <br> Товар, не дом, конечно же.
            //- div.tabs__item.tabs__item--credit
            //-   h3.font-raleway Кредит
            //-   p Залезть в долговую яму стало проще! Кредитные <br> консультанты подберут для вас наиболее выгодные <br> условия кредита. Выгодные для банка, разумеется.

    section.main__delivery-order.delivery-order.container
      h2.visually-hidden Доставка редких товаров
      a.delivery-order__link.font-raleway(href="#") Доставим редкий товар под заказ

    div.main__info.info.container
      section.main__about-us.about-us
        h2.about-us__title.font-raleway О нас
        p.about-us__text Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
        p.about-us__text Мы можем доставить ваш товар в самые отдалённые уголки России транспортными компаниями:
        ul.about-us__list
          li Меловые линии
          li СДИК
          li ТоксБерри
        div.about-us__btn-wrapper
          a.about-us__btn.button.font-raleway(href="#") Подробнее о нас
          span.button-background
      section.main__contacts.contacts
        h2.contacts__title.font-raleway Контакты
        p.contacts__text Вы можете забрать товар сами, заехав в наш офис. Заодно сможете проверить работоспособность покупки.
        h3.contacts__name Интернет-магазин «Девайс»
        address.contacts__address Санкт-Петербург, набережная реки Карповки, 5, литера П.
        p.contacts__phone +7 (812) 812-12-12
        h3.contacts__heading Время работы
        ul.contacts__schedule.schedule
          li.schedule__item пн—пт: с 10:00 до 22:00
          li.schedule__item сб—вс: с 10:00 до 19:00
        div.contacts__btn-wrapper
          a.contacts__btn.button.font-raleway(href="#") Напишите нам
          span.button-background

    section.main__subscribe.subscribe
      div.container
        div.subscribe__top
          h2.subscribe__title.font-raleway Подпишитесь на рассылку
          div.subscribe__description
            p Еженедельный дайджест с обзорами новинок, <br> длительными тест-драйвами, распаковками, а также акции, спецпредложения и вот это вот всё.
        form.subscribe__form(action="https://echo.htmlacademy.ru/" method="post")
          p.subscribe__form-wrapper
            label.subscribe__field
              span.visually-hidden Ваш e-mail
              input.subscribe__input(type="email" name="email" placeholder="Ваш e-mail" required)
            button.subscribe__btn.font-raleway(type="submit") Подписаться
          span.subscribe__message Это бесплатно

block modal
  include includes/modal-delivery
